<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<table>
    <% @collection.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td> <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
<%= link_to 'Back', collections_path %>
